#featured-properties {
  position: relative;
  width: 100vw;
  top: 7vh;
  left: 3vw;
  color: black;
}

#featured-heading-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  left: 6.5vw;
  width: 80vw;
}

#featured-heading {
  font-size: 4vh;
  font-weight: 400;
  font-family: sans-serif;
}

#view-properties-link a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-decoration: none;
}

#featured-properties span {
  font-size: 1.2vh;
  font-weight: 400;
}

#featured-properties svg {
  position: relative;
  margin-right: 0.5vw;
  font-size: 2vh;
}

/* Carousel arrows */
#featured-properties .carousel-arrows {
  color: var(--listingCards-color);
  font-size: 6rem;
}

#featured-properties .carousel-arrows:hover {
  color: var(--homePage_reddish-color);
  scale: 1.1;
  cursor: pointer;
}

#featured-properties #right-carousel-arrow {
  position: absolute;
  top: 17.5vh;
  right: 42.5vw;
}

#featured-properties #left-carousel-arrow {
  position: absolute;
  top: 17.5vh;
  left: -4vw;
}

#featured-properties-listing-cards-container {
  position: relative;
  top: 3vh;
  left: 22vw;
  display: flex;
  column-gap: 3vw;
}

.featured-properties-single-listing-card {
  position: relative;
  background-color: var(--listingCards-color);
  border-radius: 5px;
  width: 11vw;
  height: 43vh;
  text-align: center;
}

.featured-properties-listing-card-headings {
  font-size: 1.2vh;
  line-height: 0.25vh;
  text-align: left;
  position: relative;
  left: 0.5vw;
}

.property-type {
  margin-top: 3vh;
}

.star-icon {
  position: absolute;
  top: 3vh;
  left: -4.2vw;
  color: white;
  cursor: pointer;
}

a > img {
  height: 18vh;
  width: 10vw;
  border-radius: 5px;
}

.listing-card-bid-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 0.5vw;
  top: 0.75vh;
  height: 4vh;
  width: 10vw;
  background-color: var(--listingCards-bidPrice-color);
  color: var(--generalWhite-color);
  border-radius: 5px;
  font-size: 1.5vh;
}

.featured-properties-listing-card-name {
  position: relative;
  left: 0.5vw;
  margin-top: 2vh;
  text-align: left;
}

.listing-name #property-name {
  font-size: 1.7vh;
  font-weight: 700;
}

.featured-properties-listing-address {
  position: relative;
  left: 0.5vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1vh;
}
