#hero-search {
  width: 50vw;
  height: 6vh;
  position: absolute;
  bottom: -2.5vh;
  left: 25%;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 1px 1px 30px black;
}

#hero-search-content {
  position: relative;
}

#search-icon {
  position: absolute;
  top: 0.75vh;
  left: 0.25vw;
  font-size: 4vh;
  color: black;
  cursor: pointer;
}

input {
  position: absolute;
  left: 3vw;
  top: 17.5%;
  width: 50%;
  height: 60%;
  font-size: 1.5rem;
  border: 0;
}

#hero-search-menu-btn {
  position: relative;
  left: 58%;
  display: flex;
  height: 5vh;
  width: 20vw;
}

select {
  position: absolute;
  border-radius: 5px;
  top: 20%;
  height: 60%;
  width: 55%;
  font-size: 1.5rem;
}

#search-button {
  position: absolute;
  height: 60%;
  width: 30%;
  right: 1.5vw;
  top: 20%;
  display: flex;
  align-items: center;
  background-color: var(--homePage_reddish-color);
  color: white;
  font-weight: 300;
  font-size: 1.8rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#right-arrow {
  color: white;
  font-size: 2vh;
  position: absolute;
  top: 10%;
  left: 70%;
}

#search-button:hover {
  background-color: white;
  color: var(--homePage_reddish-color);
  cursor: pointer;
}

#search-button:hover svg {
  color: var(--homePage_reddish-color);
}
