@import './navbar.css';
@import './hamburger.css';
@import './heroSearch.css';
@import './featuredProperties.css';
@import './listingCards.css';

.background-photo {
  background-image: linear-gradient(
      to bottom,
      rgba(91, 100, 175, 0.938),
      rgba(211, 10, 10, 0.342)
    ),
    url('https://cre-tenbox.imgix.net/site%2Fstatic%2Fimages%2Fcity-image.v2.png');
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  position: relative;
}

#home-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.main-line-container {
  display: flex;
  position: absolute;
  top: 13vh;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: fit-content;
}

.main-line {
  color: white;
  font-size: 5rem;
  font-family: var(--general-font-type);
  font-weight: 400;
  height: 0vh;
  width: max-content;
}

#line1 {
  word-spacing: 0rem;
}

#line2 {
  word-spacing: 1.5rem;
  font-size: 5.7rem;
}

/* Power of Platform Section */
#power-of-platform {
  background-image: url('https://cre-tenbox.imgix.net/site%2Fstatic%2Fbuildings.v1.png');
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  color: white;
  font-size: 1.5vh;
  position: relative;
}

#power-of-platform > h1 {
  margin-top: 5.5vh;
  font-size: 5vh;
  font-weight: 400;
  width: 50vw;
  margin-left: 25vw;
  line-height: 6vh;
}

#power-of-platform h2 {
  margin-top: 3.5vh;
  font-size: 2.5vh;
  font-weight: 400;
}

#power-of-platform p {
  margin-top: 3.5vh;
  font-size: 1.5vh;
  font-weight: 100;
  opacity: 0.7;
  width: 16.67vw;
  position: absolute;
  bottom: 17vh;
}

#buy-and-sell-faster > #buy-and-sell-faster-paragraph {
  position: absolute;
  bottom: 18.5vh;
}

#power-of-platform-sections-container {
  display: flex;
  justify-content: center;
}

.power-of-platform {
  width: 16.67vw;
  margin-left: 3vw;
}

#power-of-platform-sections-container .btn {
  position: absolute;
  bottom: 11.5vh;
}

/* Put the Ten-X platform to work for you section */
#background {
  background-image: url('https://cre-tenbox.imgix.net/site%2Fstatic%2FTXBrand_Creative_Territories_Deck01.v1.png?auto=format,compress');
  background-repeat: no-repeat;
  background-size: contain;
  height: 60vh;
  width: 35vw;
  position: absolute;
  top: 158.7vh;
  left: 0;
  z-index: 1;
}

#platform-to-work-container {
  background-color: lightgray;
  width: 100vw;
  height: 60vh;
}

#platform-to-work {
  position: relative;
  left: 0vw;
  display: flex;
  flex-direction: column;
}

#platform-to-work-section {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: 32.5vw;
  width: 52vw;
}

#platform-to-work-brokers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 17.33vw;
}

#platform-to-work-buyers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 17.33vw;
  margin-left: 3vw;
}

#platform-to-work-sellers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 17.33vw;
  margin-left: 3vw;
}

#platform-to-work > h1 {
  position: relative;
  top: 6vh;
  left: 32.5vw;
  font-size: 5vh;
  font-weight: 400;
  width: 50vw;
  word-spacing: 0.25vw;
}

#platform-to-work h3 {
  margin-top: 7vh;
  font-size: 2vh;
  font-weight: 400;
}

#platform-to-work h4 {
  font-size: 1.65vh;
  font-weight: 350;
}

#platform-to-work p {
  font-size: 1.1vh;
  font-weight: 200;
}

#platform-to-work a {
  margin-top: 1vh;
}

/* Join the Thousands of Brokers Section */
#join-thousands-brokers-section {
  display: flex;
  height: 50vh;
  width: 100vw;
}

#icons-section {
  display: flex;
  flex-wrap: wrap;
  width: 15vw;
}

#icons-section img {
  height: 3vh;
}
