@import './styling/navbar.css';

html,
body,
.App {
  box-sizing: border-box;
  font-size: 62.5%; /* Everything is based upon 10px with this. 10px / 16px = .625. With this 1rem will = 10px. */
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
}

body {
  font-size: 1.5rem;
}

nav {
  display: flex;
  width: 100vw;
  height: 5vh;
  margin: auto;
  /* margin: auto; */
}

ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-dropdown {
  display: inline-block;
}

.navbar-dropdown-content {
  display: none;
  height: fit-content;
  border: 3px solid blue;
}

.navbar-dropdown-content li {
  margin: 0.5rem 0rem;
}

.navbar-dropdown-content a {
  text-decoration: none;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: inline-block;
  position: absolute;
  padding-top: 1rem;
}

.navbar-dropdown-content li:hover {
  background-color: aqua;
}
